
.user-pagelimit-select{
    max-width: 100px;
    min-width: 80px;
}

.delete-icon, .restore-icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.delete-icon:hover{
    color: #e63946;
}

.restore-icon:hover{
    color: #4154f1;
}

.linkedin-search{
    max-width: 400px;
}

.user-list-tr:hover {
    cursor: pointer;
    background: #f6f9ff !important;
}

.user-fullname {
    min-width: 200px;
}


@media (min-width: 1200px){
    .logo {
        width: unset !important;
        /* width: 280px; */
    }
}
