
.user-pagelimit-select{
    max-width: 100px;
    min-width: 80px;
}

.linkedin-search{
    max-width: 400px;
}

.user-list-tr:hover {
    cursor: pointer;
    background: #f6f9ff !important;
}


@media (min-width: 1200px){
    .logo {
        width: unset !important;
        /* width: 280px; */
    }
}
